@charset "ISO-8859-1";

form{
	font-size: large;
}
fieldset{
	background-color: #a0d0d0c4;
	padding: 10px;
	margin:0px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
div.campo_form{
    padding: 5px;
    display: grid;
    grid-template-columns: max-content  auto;
    width:90%;
    max-width:500px;
}
div.campo_form > input,
div.campo_form > select{
    border:none;
	border-radius: 7px;
	width: 90%;
	padding: 5px;
	margin:auto;
	margin-bottom: 2px ;
	margin-top:2px;

}
div.campo_form > select{
	width: 93%;
}
div.botoes{
	display:flex;
	width:90%
}
div.botoes{
    justify-content: center;

} 
div.botoes > input{
	border-radius: 7px;
	width:fit-content;
	padding: 4px;
	margin: 3px;
	margin-bottom: 2px;
	margin-top:2px;
}
label{
	text-align:end;
	padding :2px;
	margin:auto;
   /* float:left*/
}
